<% provide(:title, 'Edit user') %>
<div class="hl hl_a bd">Редактировать пользователя</div>

<%= form_for(@user) do |f| %>

<div class="box_wrap box_wrap_1">
<div class="panel-left">
  <table class="tbl_fc tbl_fc_1">
    <tr><td class="caption">Имя:</td>
        <td><div class="inp_w"><%= f.text_field :name, class: 'form-control' %></div></td></tr>
    <tr><td class="caption">Дата рождения:</td>
        <td><div class="inp_w"><%= f.text_field :date_birth, :value => @user.date_birth.try('strftime',"%d.%m.%Y"), class: 'form-control datepicker' %></div></td></tr>
    <tr><td class="caption">E-mail:</td>
        <td><div class="inp_w"><%= f.text_field :email, class: 'form-control' %></div></td></tr>    
    <tr><td class="caption">Telegram:</td>
        <td><div class="inp_w"><%= f.text_field :telegram, class: 'form-control' %></div></td></tr>  
    <tr><td class="caption">Пароль:</td>
        <td><div class="inp_w"><%= f.password_field :password, class: 'form-control' %></div></td></tr>    

    <tr><td class="caption"></td>
      <td><%= link_to 'Отмена', users_path, :class => "sub btn_a btn_reset"%>
        <%= f.button 'Сохранить', :class => 'sub btn_a' %></td></tr>

  </table>
</div>
<div class="panel-right">
  <%= image_tag(@user.avatar_url) if @user.avatar? %> 
  <div class="file_upload">

        <span class="button">Выбрать</span>
        <mark>Файл не выбран</mark>
   
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %> 
  </div>

<h4>Уведомления о событиях в лидах:</h4>
<table class="tbl_option">
  <tr><td><%= check_box_tag "options[]", 1, user_option(1) %></td><td>Лид создан</td></tr>
  <tr><td><%= check_box_tag "options[]",2,user_option(2) %></td><td>Лид обновлен</td></tr>
  <tr><td><%= check_box_tag "options[]",3,user_option(3) %></td><td>Назначен ответственный</td></tr>
  <tr><td><%= check_box_tag "options[]", 4, user_option(4) %></td><td>Напоминание о событии</td></tr>
</table>

<h4>Уведомления о событиях в задачах:</h4>
<table class="tbl_option">
  <tr><td><%= check_box_tag "options[]",10,user_option(10) %></td><td>Задача создана</td></tr>
  <tr><td><%= check_box_tag "options[]",11,user_option(11) %></td><td>Задача обновлена</td></tr>
</table>

<h4>Уведомления о событиях в календаре:</h4>
<table class="tbl_option">
  <tr><td><%= check_box_tag "options[]",20,user_option(20) %></td><td>Отсутствие создано</td></tr>
  <tr><td><%= check_box_tag "options[]",21,user_option(21) %></td><td>Отсутствие обновлено</td></tr>
</table>

<h4>Уведомления о событиях в проектах:</h4>
<table class="tbl_option">
  <tr><td><%= check_box_tag "options[]",30,user_option(30) %></td><td>Подошел срок сдачи</td></tr>
  <tr><td><%= check_box_tag "options[]",31,user_option(31) %></td><td>Проект не продлен</td></tr>
</table>


</div>



<% end %>
</div>