<section id="todoapp">
<div class="sidebar">
  <div id="accordion" class="menu_sb menu_sb_a" active=<%= get_active_option_page %> >

 <h3 class="first">Настройки пользователей:</h3><div><ul>
	<%= option_li("users","Пользователи") %>
			<%= option_li("roles","Роли") %>
  </ul></div>


  <h3 class="first">Настройки:</h3><div><ul>
  <%= option_li("cats","Категории") %>
  </ul></div>
  </div>
  </div>

<div class="content option_list">
        <%= render("shared/simple_option") %>
<div class="sep_3"></div>
</div>


</div>
</section>