<% @files.each do |file| %>
<div class="item">
	<div class="fname">
		<a href="/download/<%= self.controller_name.classify %>/<%= @owner.id %>/<%= file.id.to_s+File.extname(file.name) %>" target="_blank"><%= file.name %></a>
	</div>
	<div class="tools">
		<a href="/download/<%= self.controller_name.classify %>/<%= @owner.id %>/<%= file.id.to_s+File.extname(file.name) %>" target="_blank" class="icon icon_download"></a>
		<span file_id=<%= file.id %> class="icon icon_remove_1"></span> </td>
	</div>
</div>
<% end %>
